@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.feature_toolbar {
  background-color: blue;
  border: solid yellow 10px;
  padding: 10px;
  text-shadow: #0a0a0a;
}

.feature_toolbar_input {
  color: #0a0a0a;
}

.edge_toolbar {
  background-color: blue;
  border: solid yellow 10px;
  padding: 10px;
  text-shadow: #0a0a0a;
}

.edge_toolbar_input {
  color: #0a0a0a;
}
